#!/usr/bin/make -f

DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DENABLE_EBPF=OFF -DENABLE_UBPF=OFF -DCMAKE_BUILD_TYPE=RELEASE -DCMAKE_INSTALL_PREFIX=/usr -DENABLE_DOCS=OFF -DENABLE_GTESTS=OFF

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/ install
